body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
}

.center-container {
    text-align: center;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    font-weight:300;
    box-shadow: 0 0 5px cyan,0 0 25px cyan;
    border: none;
    cursor: pointer;
}
button:hover {
    box-shadow: 0 0 5px lime,0 0 25px lime, 0 0 50px lime,0 0 100px lime, 0 0 200px lime;
}
btn {
    padding: 10px 20px;
    font-size: 18px;
    font-weight:300;
    box-shadow: 0 0 5px red,0 0 25px red;
    border: none;
    cursor: pointer;
}
btn:hover {
    box-shadow: 0 0 5px red,0 0 25px red, 0 0 50px red,0 0 100px red, 0 0 200px red;
}

h1 {
    color:aqua;
    font-weight:600;
    font-size: 32px;
    margin-bottom:40px;
}