@import url('https://fonts.googleapis.com/css??family=Poppins: wght@300;400; 500; 600;700; 800; 900&display=swap');

:root {
    --color-primary: #0073ff;
    --color-white : #e9e9e9;
    --color-black : #141d28;
    --color-black-1 : #212b38;
}


.menu_bar {
    background-color:white;
    height: 80px;
    width: 100%;

    align-items: center;
    justify-content: space-between;

}

.logo span{
    color: var(--color-primary);
}

.menu_bar ul li{
    padding: 10px 30px;
}
.menu_bar ul li a {
    color: var(--color-white);
    text-decoration:none;
    font-size: 20px;

    transition: all 0.3s;
}
.menu_bar ul li a:hover{
    color: var(--color-primary);
}
--->***login page ***<---
body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:#081b29;
}
.wrapper{
    position:relative;
    width: 750px;
    height: 450px;
    background: transparent;
    border: 2px solid #0ef;
}
.wrapper .form-box{
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
}
.wrapper .form-box .login{
    left:50;
    padding: 0 40px;
}

.form-box h2{
    width: 100%;
    left:50%;
    font-size:32px;
    color: #fff;
    text-align:center;
    font-family:cursive;
    left:50%;
}
.form-box .input-box{
    position:relative;
    width: 100%;
    height: 50px;
    left:50%;
    color: white;
    margin: 25px 0;


}
.input-box input{
    width: 100%;
    height: 100%;

    background:transparent;
    border: none;
    outline: none;
    border-bottom:2px solid #fff;
    color: #fff;
    font-weight:500;
    transition: .5s;
    padding-right: 23px;
}
.input-box input:focus,
.input-box input:valid {
    border-bottom-color: #0ef;
}

.form-box label{
    position:absolute;
    top: 50%;
    left: 0%;
    transform: translateY(-50%);
    font-size:16px;
    color: #fff;
    pointer-events:none;
    transition: .5s;
}
.input-box input:focus~label,
.input-box input:valid~label{
    top: -5px;
    color: #0ef;
}


.input-box i{
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translateY(-50%);
    font-size:18px;
    color: #fff;
}
.lg-btn {
    position: relative;
    width: 100%;
    left:50%;
    height: 45px;
    background:transparent;
    border: 2px solid #0ef;
    outline: none;
    border-radius:40px;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    z-index:1;
    overflow:hidden;
}

.lg-btn::before{
    content: '';
    position: absolute;
    top: -100;
    left:0;
    width: 100%;
    height:300%;
    background:linear-gradient(#081b29,#0ef,#081b29,#0ef);
    z-index:-1;
    transition:.5s;
}
.lg-btn:hover::before{
    top:0;
}

.form-box .logreg-link{

    position:relative;
    width: 100%;
    height: 50px;
    left:50%;

    left:50%;
    font-size:14.5px;
    color:#fff;
    text-align: center;
    margin: 20px 0 10px;

    z-index:1;
}
.logreg-link p a{

    width: 100%;
    left:50%;
    color:#0ef;
    text-decoration: none;
    font-weight: 600;
    left:50%;

}
.logreg-link p a:hover {
    text-decoration:underline;
}


# register

body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:#081b29;
}
.wrapper{
    position:relative;
    width: 750px;
    height: 450px;
    background: transparent;
    border: 2px solid #0ef;

}
.wrapper .form-box{
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
}
.wrapper .form-box .login{
    left:50;
    padding: 0 40px;
}

.form-box h2{
    width: 100%;
    left:50%;
    font-size:32px;
    color: #fff;
    text-align:center;
    font-family:cursive;
    left:50%;
}
.form-box .input-box{
    position:relative;
    width: 100%;
    height: 50px;
    left:50%;
    color: white;
    margin: 25px 0;


}
.input-box input{
    width: 100%;
    height: 100%;

    background:transparent;
    border: none;
    outline: none;
    border-bottom:2px solid #fff;
    color: #fff;
    font-weight:500;
    transition: .5s;
    padding-right: 23px;
}
.input-box input:focus,
.input-box input:valid {
    border-bottom-color: #0ef;
}

.form-box label{
    position:absolute;
    top: 50%;
    left: 0%;
    transform: translateY(-50%);
    font-size:16px;
    color: #fff;
    pointer-events:none;
    transition: .5s;
}
.input-box input:focus~label,
.input-box input:valid~label{
    top: -5px;
    color: #0ef;
}


.input-box i{
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translateY(-50%);
    font-size:18px;
    color: #fff;
}
.rg-btn {
    position: relative;
    width: 100%;
    left:50%;
    height: 45px;
    background:transparent;
    border: 2px solid #0ef;
    outline: none;
    border-radius:40px;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    z-index:1;
    overflow: hidden;

}

.rg-btn::before{
    content: '';
    position: absolute;
    left:0;
    width: 100%;
    top:-50%;
    height:700%;
    background:linear-gradient(#FF0000,#000000,#000000,#FF0000);
    z-index:-1;
    transition:.5s;
}
.rg-btn:hover::before{
    top:-50%;
}

.nav-item {
    font-size: 18px;
    color: white;
    font-weight:300;
}